@charset "UTF-8";

ol.lista {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 982px) {
    ol.lista {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.container {
    display: grid;
    grid-template-areas: "header" "navigation" "content" "footer";
    min-height: 100vh;
}

.header {
    grid-area: header;
}

.navigation {
    grid-area: navigation;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}

header h1 {
    color: white;
    font-family: var(--fonteTitulo);
    text-align: center;
    font-size: 3em;
}

@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-areas: "header header" "navigation content" "footer footer";
        grid-template-columns: 290px 1fr;
    }
    header h1{
        font-size: 5em;
    }
}